<div class="row">
  <div *ngIf="(customer$ | async) as event" class="col-6 offset-3">
    <div class="offset-4 m-5">
      <h1>Customer details</h1>
    </div>

    <form #eventForm="ngForm" (ngSubmit)="onFormSubmit(eventForm)">
      <div class="form-group">
        <label for="id">ID</label>
        <input [(ngModel)]="event.id" class="form-control" name="id" type="text" readonly>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="firstName">* firstName</label>
            <input [(ngModel)]="event.firstName" class="form-control" name="firstName" type="text" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="lastName">* lastName</label>
            <input [(ngModel)]="event.lastName" class="form-control" name="lastName" type="text" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="amount">* e-mail</label>
            <input [(ngModel)]="event.email" class="form-control" name="email" type="text" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 form-group">
          <label for="zip">* zip</label>
          <input [(ngModel)]="event.address.zip" class="form-control" name="zip" type="text" required>
        </div>
        <div class="col-md-3 form-group">
          <label for="country">* country</label>
          <input [(ngModel)]="event.address.country" class="form-control" name="country" type="text" required>
        </div>
        <div class="col-md-3 form-group">
          <label for="city">* city</label>
          <input [(ngModel)]="event.address.city" class="form-control" name="city" type="text" required>
        </div>
        <div class="col-md-4 form-group">
          <label for="street">* street</label>
          <input [(ngModel)]="event.address.street" class="form-control" name="street" type="text" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 form-group">
          <label for="notes">* address notes</label>
          <input [(ngModel)]="event.address.notes" class="form-control" name="notes" type="text" required>
        </div>
        <div class="col-md-2 form-group">
          <label class="d-block" for="active">* active</label>
          <input [(ngModel)]="event.active" name="active" type="checkbox">
        </div>
      </div>
      <pre>
              <small>* required </small>
            </pre>

      <div class="form-group offset-3">

        <button type="reset" class="btn btn-secondary  mt-5 mr-5 cancelBtn"><a routerLink="/products"> <i
              class="fa fa-refresh "></i></a> </button>

        <!-- disabled a gomb amig a form invalid -->
        <button (click)="showHtmlToasterUpdate()" [disabled]="eventForm.invalid || updating"
          class="btn btn-success  mt-5" type="submit">
          <i *ngIf="!updating" class="fa fa-save"></i>
          <i *ngIf="updating" class="fa fa-refresh"></i>
        </button>
      </div>
      <!-- teszteleshez -->
      <!--
            <pre>
                {{event | json}}
            </pre>
 -->
    </form>
  </div>
</div>
