<div class="row">
  <div *ngIf="(product$ | async) as product" class="col-6 offset-3">
    <form #editForm="ngForm" (ngSubmit)="onUpdate(editForm, product)">
      <div *ngFor="let field of fields" class="form-group">
        <label>
          <i class="material-icons">{{ field.icon || '&nbsp;' }}</i>
          {{ field.title }}
        </label>

        <input [(ngModel)]="product[field.key]" [name]="field.key" [pattern]="field.pattern || '.*'" type="text"
          class="form-control">

      </div>

      <button class="btn btn-block btn-primary">
        <i class="material-icons">save</i>
      </button>
    </form>
  </div>
</div>
