<div class="card card-stats">
    <div class="card-header card-header-icon" class="{{ cardClass }}">
      <div class="card-icon p-2" routerLink="{{ routerLink }}">
        <i class="material-icons">{{ icon }}</i>
      </div>
      <p class="card-category"><span class="text-nowrap">{{ title }}</span></p>
      <h3 class="card-title"><span class="text-nowrap">{{ content }}</span></h3>
    </div>
    <div class="card-footer">
      <div class="stats"> <i class="material-icons pr-1">{{ footericon }}</i> {{ footer }}
      </div>
    </div>
  </div>

