$primary-color: #fff;
$secondary-color: #e5e5e5;
$border-color: #888;
$box-shadow: rgba(0, 0, 0, .08);
$orange: #FF9800;
$light-blue: #5bc0de;
$green: #60b764;
$purple: #b760ab;
$background-color: #444;
$error: rgb(155, 4, 4);
